<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:arg name="robot_type" default="a1"/>
    <xacro:arg name="urdf_name" default="leg_urdf20250417_1"/>

    <xacro:include filename="$(find urdf_trans_pkg)/common/materials.xacro"/>
    <xacro:include filename="$(find urdf_trans_pkg)/common/leg.xacro"/>
    <xacro:include filename="$(find urdf_trans_pkg)/common/gazebo.xacro"/>
    <xacro:include filename="$(find urdf_trans_pkg)/common/imu.xacro"/>

    <xacro:include filename="$(find leg_urdf20250417_1)/urdf/$(arg urdf_name).urdf" />
    <xacro:IMU connected_to="base" imu_name="base_imu" xyz="0. 0. 0." rpy="0. 0. 0."/>


    <xacro:leg prefix="LF" >
    </xacro:leg>

    <xacro:leg prefix="LH" >
    </xacro:leg>

    <xacro:leg prefix="RF" >
    </xacro:leg>

    <xacro:leg prefix="RH" >
    </xacro:leg>

</robot>
